.formInputWidth {
  width: 100%;
}

.matDividerMargin {
  margin-top: 2%;
  margin-bottom: 2%
}

.matCardDivider {
  margin: 2%;
  overflow: scroll;
}

img {max-width:100%;}

.person-profile-padding {
  margin-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
}
