.footerText {
  text-align: right;
  font-size: x-small;
  color: slategray;
  max-height: 20px;
}

.footerTextContainer {
  display: inline-grid;
  margin-bottom: auto;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.empty-toolbar-row {
  height: 15px;
}
