<mat-toolbar>
  <mat-toolbar-row>
    <img (click)="goHome()" src="../assets/brand/logo.png" alt="Expoed Logo">
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <div class="footerTextContainer">
      <a class="footerText" [routerLink]="['/waiting']"> User FAQ </a>
      <a class="footerText" [routerLink]="['/partner']"> Restaurant FAQ </a>
      <a class="footerText" [routerLink]="['/partners']"> Current Partners </a>
      <p class="footerText"> © Expoed 2020. All Rights Reserved </p>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="empty-toolbar-row"></mat-toolbar-row>
  <mat-toolbar-row class="empty-toolbar-row"></mat-toolbar-row>
</mat-toolbar>
