<div class="faqDiver">
  <h2>Q: What are Expos and how did I redeem them?</h2>
  <p>A: Expos are our form of rewards-based donations to restaurants. When you purchase an Expo, you will receive something in return! Examples of Expos include: gift cards, merchandise, coveted reservation time slots, a menu item named after you, your name inscribed on the bar, etc. The options are limitless and are up to the restaurant to determine. When you purchase an Expo, you will receive a confirmation from us stating your unique user and reward I.D. You will present this to the restaurant to redeem your Expo later on.</p>
  <h2>Q: What if the restaurant I donate to closes before I am able to redeem my Expo?</h2>
  <p>A: Please consider all contributions on this website as donations to restaurants in need. 100% of your donations will go directly to the restaurants on your choice. Know that your financial support could be the difference in keeping your favorite establishments afloat past a time of devastating crisis.</p>
  <h2>Q: How do I help restaurants that are not on the website on-board to Expoed?</h2>
  <p>A: If you notice that a restaurant you would like to support is not listed on the website, please direct them to our restaurant sign-up page here.</p>
  <h2>Q: How are donations and Expos processed?</h2>
  <p>A: All payment made on Expoed are through Stripe, a third-party payment processing platform. Expoed does not receive or store any financial information from restaurants or donors. We simply act as an intermediary to help connect restaurants in need with potential donors.</p>
  <h2>Q: How do I log in</h2>
  <p>A: Expoed redirects you to a third party authentication provider called Auth0. This way we never store any of your personal information like passwords</p>
  <h2>Q: How do I view and redeem my Expo?</h2>
  <p>A: You can view and redeem your expo by going to your profile. There you will see a list of expos that you have bought. Email the restaurant with the email provided on the expo to communicate on how to redeem them. Be sure to include your transaction id which is your reward id and then your user id.</p>
  <h2>Q: How do I sign up?</h2>
  <button mat-flat-button color="primary" (click)="auth.login(callbackLoginURL)">Sign Up</button>
</div>

