<mat-card>
  <mat-card-content style="text-align: center">
    <h2>
      Help set the table for the future of the restaurant industry
    </h2>

  </mat-card-content>
  <mat-card-actions>
    <form>
      <div fxLayout="row" fxLayoutGap="5%">
        <div fxFlex="0 0 80%">
          <mat-form-field style="width: 100%">
            <mat-label>Search Restaurants</mat-label>
            <input matInput placeholder="Enter a restaurant name" type="text" [(ngModel)]="searchInput"
                   [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
        <div fxFlex="0 0 20%">
          <button mat-raised-button color="primary" (click)="search(searchInput)">Search</button>
        </div>
      </div>
    </form>
  </mat-card-actions>
</mat-card>
