<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center" class="header-spacing">
  <div fxFlex="0 0 45%" fxFlexAlign="auto">
    <app-restaurant-search-dialog></app-restaurant-search-dialog>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="space-around center" class="header-spacing">
  <div fxFlex="0 0 90%" style="text-align: center">
    <h2>About Us</h2>
    <p>
      Launched amidst the COVID-19 outbreak, Expoed provides a platform for restaurants to seek immediate financial support from diners. In the form of donations or rewards-based Expos, diners can choose to support their favorite restaurants in a time of dire need. Businesses within the restaurant industry have been materially impacted by this shut-down, many of which are at risk of closing permanently as a result of the outbreak. At Expoed, we aim to better connect restaurants in need with those who are willing and able to support.
    </p>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center" class="header-spacing" style="margin-bottom: 30px">
  <button mat-flat-button color="primary" [routerLink]="['/partner']">Become A Restaurant Partner</button>
</div>
<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center" class="header-spacing">
  <img mat-card-image src="assets/site/empty_table.jpeg" alt="Photo of empty restaurant">
</div>
