<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center" class="header-spacing">
  <div fxFlex="0 0 45%" fxFlexAlign="auto">
    <app-restaurant-search-dialog></app-restaurant-search-dialog>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="space-around center" class="header-spacing">
  <div fxFlex="0 0 90%" style="text-align: center">
    <h2>About Us</h2>
    <p>
      Launched amidst the COVID-19 outbreak, Expoed provides a platform for restaurants to seek immediate financial support from diners. In the form of donations or rewards-based Expos, diners can choose to support their favorite restaurants in a time of dire need. Businesses within the restaurant industry have been materially impacted by this shut-down, many of which are at risk of closing permanently as a result of the outbreak. At Expoed, we aim to better connect restaurants in need with those who are willing and able to support.
    </p>
  </div>
</div>
<div fxLayout="row" fxLayoutGap="2%" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="header-spacing" style="margin-bottom: 30px">
  <button mat-flat-button color="primary" [routerLink]="['/partner']">Become an Expoed Restaurant Partner</button>
  <button mat-flat-button color="primary" (click)="auth.login(callbackLoginURL)">Join Expoed as an Eater</button>
</div>
<div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center" class="header-spacing" style="margin-bottom: 30px">
  <img mat-card-image src="assets/site/empty_table.jpeg" alt="Photo of empty restaurant">
</div>
<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="space-around center" fxLayoutGap="2%" fxLayoutAlign="center start" class="header-spacing">
  <div fxFlex="45%">
    <h2>What does Expoed mean?</h2>
    <p>Expoed comes from the restaurant term Expeditor. An Expeditor is a term used within kitchens to tell everyone what to cook and what is going on. Become an virtual expeditor for your own favorite restaurant and join expoed today!</p>
  </div>
  <div fxFlex="45%">
    <h2>What does Expoed offer?</h2>
    <p>Expoed offers expos. Expos are our form of rewards-based donations to restaurants. When you purchase an Expo, you will receive something in return! Examples of Expos include: gift cards, merchandise, coveted reservation time slots, a menu item named after you, your name inscribed on the bar, etc. The options are limitless and are up to the restaurant to determine. When you purchase an Expo, you will receive a confirmation from us stating your unique user and reward I.D. You will present this to the restaurant via email or in person to redeem your Expo later on.</p>
  </div>
</div>
