.header-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-spacing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.matDividerMargin {
  margin-top: 2%;
  margin-bottom: 2%
}

.matCardDivider {
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

.paginatorDivider {
  margin-top: 3%;
}

img {
  max-width: 100%;
}

.restaurant-search-text {
  text-align: center;
  padding-left: 3%;
  padding-right: 3%
}
