<div class="faqDiver">
  <h1> Restaurant FAQ </h1>
  <h2>Q: What does Expoed Offer</h2>
  <p>Expoed offers restaurants a way to recieve cash flow during times that business has been hampered by COVID-19. Expoed does this by giving restaurants a place to list offering or Expos. Users search for your restaurant, they see current Expos being offered, and can choose to purchase one or tip the restaurant</p>
  <h2>Q: What are Expos and how do users redeem them?</h2>
  <p>A: Expos are our form of rewards-based donations to restaurants. When a user purchases Expo, you will receive the money that Expo was worth! Examples of Expos include: gift cards, merchandise, coveted reservation time slots, a menu item named after you, your name inscribed on the bar, etc. The options are limitless and are up you, the restaurant, to determine. When a user purchases an Expo, the user will receive a confirmation from Stripe, and confirmation in their dashboard with the Expo they purchased. In their user dashboard, it contains their user id and reward I.D and the expo it was linked to. The user will present or email this information to the restaurant to redeem your Expo later on.</p>
  <h2>Q: How are payments processed?</h2>
  <p>A: Payments are processsed through Stripe. Restaurants link their account with stripe through their profile. Stripe handles all the payment processing, payouts, and billing.</p>
  <h2>Q: How do I get onboarded? </h2>
  <p>A: Restaurants get onboarded by entering restaurant information on their dashboard. They then must link their account with Stripe</p>
  <h2>Q: What are the fees associated with Expoed?</h2>
  <p>A: The only fee Expoed takes is $0.01 (the minimum we have to take for using Stripe). Stripe (our payment processor), takes a 2.9% fee + $0.30 per every transaction made.</p>
  <h2>Q: How do I get verified</h2>
  <p>A: Expoed will send you a message to a publicly confirmed account (an email/instagram dm/facebook message/twitter dm/etc..) with a code asking you to email the code that we sent back to us.</p>
  <h2>Q: Can other people view your profile?</h2>
  <p>A: No, you can only view your own profile</p>
  <h2>Q: How do I log in</h2>
  <p>A: Expoed redirects you to a third party authentication provider called Auth0. This way we never store any of your personal information like passwords</p>
  <h2>Q: Enough already, how do I sign up?</h2>
  <button mat-flat-button color="primary" (click)="auth.login(callbackLoginURL)">Sign Up</button>
  <h2>Q: More questions?</h2>
  <p>Email Expoed at expoed.restaurant@gmail.com</p>
</div>


